.test span {
  /* color: hsl(0, 0%, 100% / 0); */
  color: #ffffff33;
  background-image: linear-gradient(90deg, white, white);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.test h1 span {
  animation-range-start: cover 100vh;
  animation-range-end: cover 150vh;
}
.test p span {
  animation-range-start: cover 150vh;
  animation-range-end: cover 200vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
